.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.episode-container{
    flex-direction: column;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    width: 88%;
    margin: auto;
}


@media screen and (min-width: 990px) {
    .episode-container{
        flex-direction: row;
    }
}