.main-container{
    display: flex;
    flex-direction: column;
    min-height: 20vh;
}

.heading{
    margin-bottom: 1rem;
}

.paragraph{
    margin-bottom: 1rem;
}

.text-blue{
    color: var(--blue-light);
}
