.main-content{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 1rem;
}

@media screen and (min-width: 990px){
    .main-content{
        justify-content:flex-start;
        flex-direction: row;
        padding: 5rem 5rem;
    }
}
