:root{
    --blue-light: #0d6efd;
    --blue-dark: #0b5ed7;
    --border-radius: 5px;
    --white: #ffffff;
    --dark: #212529;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
}

body{
    min-width: 320px;
    color: var(--dark);
}